<app-layout></app-layout>
<div class="absolute flex z-10 justify-center items-end content-end sm:items-center sm:content-start sm:justify-start md:pl-[20vw] h-full w-full px-8 pb-16">

    <div class="relative flex p-4 flex-grow-0 gap-4 rounded-md"
        [ngClass]="{'flex-col':layoutService.applyBlur$ | async}">
        <ng-container *ngIf="!(layoutService.applyBlur$ | async)">
            <button class="tw-btn-primary" (click)="register()">Register</button>
            <button class="tw-btn-primary" (click)="register();onLogin =true">Login</button>
        </ng-container>

        <form [@leftUp300]="layoutService.applyBlur$ | async" *ngIf="!onLogin && (layoutService.applyBlur$ | async)" [formGroup]="form"
            class="flex flex-col gap-10">

            <app-input type="text" keyName="username" label="Username" />
            <app-input type="email" keyName="email" label="Email" />
            <app-input type="password" keyName="password" label="Password" />
            <button class="tw-btn-primary" (click)="register()">Sign up</button>
        </form>
        <form [@leftUp190]="layoutService.applyBlur$ | async" *ngIf="onLogin && (layoutService.applyBlur$ | async)" [formGroup]="form"
            class="flex flex-col gap-8">

            <app-input type="email" keyName="email" keyName="email"  label="Username"/>
            <app-input type="password" keyName="password" keyName="password" label="Password"/>
            <button class="tw-btn-primary" (click)="register()">Login</button>
        </form>
    </div>
</div>