
<mat-sidenav-container class="absolute top-0 left-0">
    <mat-sidenav fixedInViewport [opened]="true" class="side-nav">
        <div>
            <div class="w-24 h-24 my-8 mx-10 cursor-pointer">
                <app-svg name="logo" [routerLink]="'/dashboard'" class="focus:outline-none"></app-svg>
            </div>
            <app-sidebar-item *ngFor="let item of items" [item]="item"></app-sidebar-item>
        </div>
            
            <div class="w-full h-16 flex  content-center items-center text-white bg-blue hover:bg-grey hover:text-royal hover:font-medium cursor-pointer transition-colors [transition-duration:400ms]" (click)="signOut()">
                <div class="text-lg m-auto">Sign out</div>
            </div>

    </mat-sidenav>

    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>