table {
    width: inherit !important;
    border: 1px solid #001F3F;
    border-spacing: 0 8px !important;
    border-radius: 8px;
    min-width: 0 !important;
    overflow-x: auto;
    ::ng-deep thead {
        width: inherit;
        padding-inline: 0px;
        background-color: #001F3F;
    }

    th {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        background-color: #001F3F !important;
        color: white !important;

        // border-bottom: 1px solid #DCDCDC;
        min-width: 4rem;
        white-space: nowrap !important;
        /* Ensure th cells adjust width based on content */
    }

    td {

        font-weight: 400 !important;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;
        border-bottom: 1px solid #DCDCDC;
        min-width: 4rem;
    }
}
@media(max-width:850px) and (min-width:640px) {
    .break-850 {
    justify-content: start;
}}