@use 'angular-material-override';

@layer utilities {
    .tw-btn-primary {
        @apply bg-royal p-8 py-4 rounded-md text-white disabled:cursor-not-allowed disabled:bg-orange-300 disabled:text-blue;
    }
    .tw-mat-error {
        @apply bg-grey rounded-md rounded-ss-none pt-0.5 p-1 shadow-md shadow-[crimson];
    }
}
.logo-fade-in {
    @apply absolute w-[200px] h-[200px] top-[25vh] left-[calc(50vw-100px)] -translate-y-[50%] sm:-translate-y-[40%] sm:left-[calc(75vw-128px)] sm:w-64 sm:h-64 lg:-translate-y-[30%] lg:left-[calc(75vw-160px)] lg:w-[20rem] lg:h-[20rem];
}
.background-img {
    @apply bg-center bg-contain bg-no-repeat;
}
.background-ease-right {
    @apply bg-[url(/assets/images/background.png)] absolute w-[270px] h-[270px] top-[50vh] left-[calc(50vw-135px)] -translate-y-[50%] sm:-translate-y-[40%] sm:left-[calc(75vw-180px)] sm:w-[360px] sm:h-[360px] lg:-translate-y-[25%] lg:left-[calc(75vw-200px)] lg:w-[400px] lg:h-[400px];
}
html, body { height: 100%; }
body { box-sizing: border-box; margin: 0;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.mat-mdc-form-field-error-wrapper {
    z-index: 1;
}
.mat-drawer-inner-container {
    display: flex;
    flex-direction: column ;
    justify-content: space-between ;
}

app-sidebar-item:last-child .item {
    border-bottom-width: 0px;
}